body{
  color: #2f2f2f;
}
h1{
  font-size: 3em;
  text-align: center;
}
h2{
  text-align: center;
}
h3{
  text-align: center;
}
h4{
  text-align: center;
}
button{
  font-size: 1em;
  border: none;
  border-radius: 20px;
  background: #ffe9e3;
  cursor: pointer;
  padding: 5px;
  margin: 10px;
}
button:hover{
  background: #7c73e6;
}
select{
  width: 80%;
  margin: 10%;
  height: 3em;
  border-radius: 30px;
}
option{
  font-size: 1em;
}
label{
  margin: 0 10%;
  text-align: center;
  display: flex;
}
form{
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;
}
/* .App{
  background: hsl(246, 33%, 82%);
  font-size: 2em;
  height: 100vh;
  width: 100vw;
} */
.wrapper{
  background: hsl(246, 33%, 82%);
  font-size: 2em;
  height: 100vh;
  width: 100vw;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
}
.landing-page{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.paragraph{
  text-align: center;
  background: #fafafa;
  padding: 30px;
  border-radius: 20px;
}

.my-button{
  background: #ffe9e3;
  border: none;
  border-radius: 20px;
  /* padding: 0.4em 1em; */
  font-size: inherit;
  margin: 10px;
  cursor: pointer;
}
/* .my-button:hover{ */
  /* background: #7c73e6;
} */
.my-input{
  font-size: inherit;
  border-radius: 10px;
  text-align: center;
}
.flex-section{
  display: flex;
}
.half-article{
  margin: 10%;
}
.column-shaped-container{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.question-template{
  /* position: relative; */
  margin:0 12rem;
  padding: 2rem;
  flex-grow: 2;
  max-width: 65%;
  /* width: 70%; */
  /* display: flex; */
}
.question-bar{
  /* position: fixed; */
  left: 0;
  padding-left: 0.2em;
}
.slide{
  padding: 10px 10px 10px 0;
  cursor: pointer;
}
.slide-image{
  margin-left: 10%;
  width: 70%;
}
.small-image{
  width: 15%;
  cursor: pointer;
}
.question-input{
  width: 100%;
  font-size: 1.5em;
  border: black 1px solid;
  overflow-y: auto;
  word-break: normal;
}
.right-bar{
  /* position: fixed; */
  right: 0;
}
.bar{
  height: 100%;
  width: 12rem;
  background: #fafafa;
  overflow-y: auto;
  overflow-x: hidden;
}
.question-image{
  width: 60%;
  margin: 3% 20% 1% 20%;
}
.answers-placeholder{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  height: 30%;
}
.answer{
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
#answer-A{
  background-color: red;

}
#answer-B{
  background-color: rgb(15, 250, 15);

}
#answer-C{
  background-color: rgb(0, 179, 255);

}
#answer-D{
  background-color: rgb(183, 0, 255);
}
.answer-checkbox{
  height: 3em;
  width: 3em;
  border-radius: 50%;
  padding: 10px;
}
.answer-checkbox:checked{
    background-color: rgb(0, 0, 0);
}
.editable-div{
  flex-grow: 2;
  flex-flow: column;
  max-width: 100%;
  height: 80%;
  margin: 10% 0;
  overflow: auto;
  text-overflow: ellipsis;
  border: 1px black solid;
}
.template-name{
  width: 100%;
  /* margin-left: 10px; */
  padding-left: 10px;
  font-size: 1.5em;
  cursor: pointer;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.list-container{
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
.player-list{
  display: flex;
  column-gap: 1em;
  max-width: 18em;
  row-gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 3em;
}
.player-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.player{
  background: #7c73e6;
  height: 2em;
  width: 2em;
  border-radius: 50%;
}
.shown-question{
  margin: 20px 0;
  font-size: 1.8em;
}
.timer{
  position: fixed;
  left: 90%;
  margin-top: 2em;
  height:4em;
  width: 4em;
  border-radius: 50%;
  background: #7c73e6;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.player-stats-list{
  margin: 10% 0;
  max-height: 80%;
  min-height: 60%;
  width: 60%;
  overflow-y: auto;
  overflow-x: hidden;
}
.player-stats{
  width: 80%;
  height: 10%;
  background: #ffe9e3;
  border-radius: 30px;
  margin: 3px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
.winners-image{
  height: 80%;
  aspect-ratio: 1;
}
.img-name-container{
  display: flex;
  align-items: center;
  column-gap: 30px;
}
.go-back-button{
  position: fixed;
  background: #c4c1e0;
  font-size: 3em;
}
.error{
  color: red;
}