$background-colorC: #ffb03b;
$containers-colorC: #fff0a5;
$buttons-colorC: #ffffff;
$buttonsHover-colorC: #379956;
$parts-colorC: #7c73e6;

@media only screen and (min-width: 2400px) {
  html {
    font-size: 32px;
  }
}

@media only screen and (min-width: 1100px) and (max-width: 2400px) {
  html {
    font-size: 16px;
  }
}
@media only screen and (min-width: 700px) and (max-width: 1100px) {
  html {
    font-size: 12px;
  }
}
@media only screen and (min-width: 400px) and (max-width: 700px) {
  html {
    font-size: 10px;
  }
}
@media only screen and (max-width: 400px) {
  html {
    font-size: 8px;
  }
}
body {
  color: #2f2f2f;
  width: 100vw;
  height: 100vh;
  cursor: url("https://zzzdreamm.github.io/Cacarrot/small_carrr.png"), auto;
}
h1 {
  font-size: 6rem;
  text-align: center;
}
h2 {
  text-align: center;
}
h3 {
  text-align: center;
}
h4 {
  text-align: center;
}
button {
  font-size: 2rem;
  border: 5px solid $buttonsHover-colorC;
  border-radius: 20px;
  background: $buttons-colorC;
  cursor: inherit;
  padding: 5px;
  margin: 10px;
}
button:hover {
  background: $buttonsHover-colorC;
}
select {
  width: 80%;
  margin: 10%;
  height: 3rem;
  border-radius: 30px;
  font-size: 2rem;
}
option {
  font-size: 2rem;
}
label {
  margin: 0 10%;
  text-align: center;
  display: flex;
}
form {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;
}
/* .App{
  background: hsl(246, 33%, 82%);
  font-size: 2em;
  height: 100vh;
  width: 100vw;
} */

::-webkit-scrollbar {
  width: 1rem;
}
::-webkit-scrollbar-track {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #2f2f2f;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.wrapper {
  background: #ffbd67;
  font-size: 2rem;
  height: 100vh;
  width: 100vw;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
}
.landing-page {
  height: 93.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
  position: relative;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6.5%;
  width: 100%;
  background: white;
  position: relative;
  z-index: 2;
}
.paragraph {
  text-align: center;
  background: $containers-colorC;
  padding: 30px;
  border-radius: 20px;
}

.my-button {
  border: none;
  border-radius: 20px;
  border: 5px solid #468966;
  /* padding: 0.4em 1em; */
  font-size: inherit;
  margin: 10px;
  cursor: inherit;
}
.my-input {
  font-size: inherit;
  border-radius: 10px;
  text-align: center;
  width: fit-content;
}
.flex-section {
  display: flex;
}
.half-article {
  margin: 5%;
}
.column-shaped-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.question-placeholder {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
}
.question-template {
  /* position: relative; */
  /* margin:0 12rem; */
  padding: 2rem;
  flex-grow: 2;
  max-width: 65%;
  /* width: 70%; */
  /* display: flex; */
}
.question-bar {
  position: fixed;
  left: 0;
  padding-left: 0.2rem;
}
.slide {
  padding: 10px 10px 10px 0;
}
.slide-image {
  margin-left: 10%;
  width: 70%;
  cursor: inherit;
}
.small-image {
  margin-left: 5px;
  padding: 5px;
  width: 15%;
  cursor: inherit;
  &:hover {
    background-color: $buttonsHover-colorC;
  }
}
.question-input {
  width: 100%;
  font-size: 3rem;
  border: #468966 5px solid;
  outline: none;
  overflow-y: auto;
  word-break: normal;
  // height: 4rem;
  // display: flex;
  // align-items: center;
  // justify-content: center;
}
.right-bar {
  position: fixed;
  right: 0;
}
.bar {
  height: 94%;
  width: 12rem;
  background: $containers-colorC;
  overflow-y: auto;
  overflow-x: hidden;
}
.question-image {
  width: 60%;
  aspect-ratio: 2;
  margin: 3% 20% 1% 20%;
}
.answers-placeholder {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  height: 30%;
}
.answer {
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
#answer-A {
  background-color: red;
}
#answer-B {
  background-color: rgb(15, 250, 15);
}
#answer-C {
  background-color: rgb(0, 179, 255);
}
#answer-D {
  background-color: rgb(183, 0, 255);
}
.answer-checkbox {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  padding: 10px;
}
.answer-checkbox:checked {
  background-color: rgb(0, 0, 0);
}
.editable-div {
  flex-grow: 2;
  flex-flow: column;
  max-width: 100%;
  height: 80%;
  margin: 10% 0;
  overflow: auto;
  text-overflow: ellipsis;
  border: 1px black solid;
  border: none;
  outline: none;
  padding: 0 0.5em;
}
.template-name {
  width: 100%;
  /* margin-left: 10px; */
  padding-left: 10px;
  font-size: 1.5rem;
  /* cursor: pointer; */
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.list-container {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  border-bottom: 1px solid black;
}
.player-list {
  display: flex;
  justify-content: center;
  column-gap: 1rem;
  max-width: 36rem;
  row-gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 6rem;
}
.player-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.player {
  background: $parts-colorC;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
}
.shown-question {
  margin: 20px 0;
  font-size: 3.6rem;
}
.timer {
  position: fixed;
  margin-top: 4rem;
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
  background: $parts-colorC;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 40;
}
.player-stats-list {
  margin: 10% 0;
  max-height: 80%;
  min-height: 60%;
  width: 60%;
  overflow-y: auto;
  overflow-x: hidden;
}
.player-stats {
  width: 80%;
  height: 10%;
  background: $containers-colorC;
  border-radius: 30px;
  margin: 3px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
.winners-image {
  height: 80%;
  aspect-ratio: 1;
}
.img-name-container {
  display: flex;
  align-items: center;
  column-gap: 2rem;
}
.go-back-button {
  background: white;
  color: #b64926;
  border: none;
}
.go-back-button:hover {
  color: $buttonsHover-colorC;
  background-color: white;
}
.error {
  color: red;
  font-size: 1.5rem;
}
.grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  margin: 12% 12% 4% 12%;
  width: 90%;
  height: 90%;
  cursor: inherit;
}
.answer-result-container {
  background: $parts-colorC;
  padding: 20px;
  text-align: center;
}
.circle-image {
  border-radius: 50%;
}
.circle {
  border-radius: 50%;
  background-color: $parts-colorC;
  height: fit-content;
  width: fit-content;
  height: 13rem;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rolling-square {
  height: fit-content;
  width: fit-content;
  background-color: white;
  height: 9rem;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
}
.abilities-placeholder {
  width: 90%;
  margin-top: 0.5rem;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  .ability-card {
    scroll-snap-align: center;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 5rem 16rem 8rem 4rem 8rem;
    grid-template-areas: "name" "image" "text" "options" "submit";
    margin: 2rem;

    font-family: roboto;
    border-radius: 18px;
    background: white;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
    text-align: center;

    &-name {
      grid-area: name;
      background: $containers-colorC;
      color: #2f2f2f;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2.3rem;
      padding: 10px;
    }
    &-image {
      grid-area: image;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      background-size: cover;
    }
    &-text {
      font-size: 1.5rem;
      grid-area: text;
      margin: 0.5rem;
      font-weight: bold;
      display: flex;
    }
    &-options {
      grid-area: options;
      display: flex;
      justify-content: center;
      align-items: center;
      & select {
        overflow-y: auto;
      }
    }
    &-submit {
      grid-area: submit;
    }
    &:hover {
      transform: scale(1.05);
      box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
      z-index: 30;
    }
  }
}

@media only screen and (max-width: 600px) {
  .abilities-placeholder {
    border: 0.5rem solid $parts-colorC;
    .ability-card {
      width: 90%;
      flex: 0 0 auto;
    }
  }
}

.loader {
  overflow: hidden;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  z-index: 100000;
}

.loader__element {
  border-radius: 100%;
  border: 1em solid #555;
  margin: calc(1em * 2);
}

.loader__element:nth-child(1) {
  animation: preloader 0.6s ease-in-out alternate infinite;
}
.loader__element:nth-child(2) {
  animation: preloader 0.6s ease-in-out alternate 0.2s infinite;
}

.loader__element:nth-child(3) {
  animation: preloader 0.6s ease-in-out alternate 0.4s infinite;
}

@keyframes preloader {
  100% {
    transform: scale(2);
  }
}

@import url("https://fonts.googleapis.com/css?family=Corben:700");

h1 {
  font-family: "Corben", cursive;
  font-size: 6rem;
  color: white;
  letter-spacing: 0.1rem;
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.66);
}

.hero {
  position: fixed;
  left: 0;
  top: 0;
  background-image: radial-gradient(
    50% 176%,
    $background-colorC 100%,
    $background-colorC 100%
  );
  min-height: 30rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100%;
  width: 100%;
  z-index: 0;
  .snow {
    position: absolute;
    min-width: 100vw;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    .svg {
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }
  #snow-top-layer {
    will-change: transform;
    transform: translateY(-768px);
    animation: fall 22.5s infinite linear;
  }
  #snow-bottom-layer {
    will-change: transform;
    transform: translateY(-768px);
    animation: fall 45s infinite linear;
  }
}

@keyframes fall {
  100% {
    transform: translateY(0);
  }
}

.event-message{
  color: $buttonsHover-colorC;
}