@media only screen and (min-width:2400px) {
  html{
    font-size: 32px;
  }
}

@media only screen and (min-width:1100px) and (max-width:2400px) {
  html{
    font-size: 16px;
  }
}
@media only screen and (min-width:700px) and (max-width: 1100px) {
  html{
    font-size: 12px;
  }
}
@media only screen and (max-width:400px) and (max-width: 700px) {
  html{
    font-size: 10px;
  }
}
@media only screen and (max-width:400px) {
  html{
    font-size: 8px;
  }
}
body{
  color: #2f2f2f;
  width: 100vw;
  height: 100vh;
}
h1{
  font-size: 6rem;
  text-align: center;
}
h2{
  text-align: center;
}
h3{
  text-align: center;
}
h4{
  text-align: center;
}
button{
  font-size: 2rem;
  border: none;
  border-radius: 20px;
  background: #ffe9e3;
  cursor: pointer;
  padding: 5px;
  margin: 10px;
}
button:hover{
  background: #7c73e6;
}
select{
  width: 80%;
  margin: 10%;
  height: 3rem;
  border-radius: 30px;
  font-size: 2rem;
}
option{
  font-size: 2rem;
}
label{
  margin: 0 10%;
  text-align: center;
  display: flex;
}
form{
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;
}
/* .App{
  background: hsl(246, 33%, 82%);
  font-size: 2em;
  height: 100vh;
  width: 100vw;
} */
::-webkit-scrollbar {
  width: 1rem;
}
::-webkit-scrollbar-track {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #2f2f2f;
  border-radius: 10px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.wrapper{
  background: hsl(246, 33%, 82%);
  font-size: 2rem;
  height: 100vh;
  width: 100vw;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
}
.landing-page{
  height: 93.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6.5%;
  width: 100%;
  background: white;
}
.paragraph{
  text-align: center;
  background: #fafafa;
  padding: 30px;
  border-radius: 20px;
}

.my-button{
  background: #ffe9e3;
  border: none;
  border-radius: 20px;
  /* padding: 0.4em 1em; */
  font-size: inherit;
  margin: 10px;
  cursor: pointer;
}
/* .my-button:hover{ */
  /* background: #7c73e6;
} */
.my-input{
  font-size: inherit;
  border-radius: 10px;
  text-align: center;
  width: fit-content;
}
.flex-section{
  display: flex;
}
.half-article{
  margin: 5%;
}
.column-shaped-container{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.question-placeholder{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
}
.question-template{
  /* position: relative; */
  /* margin:0 12rem; */
  padding: 2rem;
  flex-grow: 2;
  max-width: 65%;
  /* width: 70%; */
  /* display: flex; */
}
.question-bar{
  position: fixed;
  left: 0;
  padding-left: 0.2rem;
}
.slide{
  padding: 10px 10px 10px 0;
}
.slide-image{
  margin-left: 10%;
  width: 70%;
  cursor: pointer;
}
.small-image{
  width: 15%;
  cursor: pointer;
}
.question-input{
  width: 100%;
  font-size: 3rem;
  border: black 1px solid;
  overflow-y: auto;
  word-break: normal;
}
.right-bar{
  position: fixed;
  right: 0;
}
.bar{
  height: 94%;
  width: 12rem;
  background: #fafafa;
  overflow-y: auto;
  overflow-x: hidden;
}
.question-image{
  width: 60%;
  margin: 3% 20% 1% 20%;
}
.answers-placeholder{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  height: 30%;
}
.answer{
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
#answer-A{
  background-color: red;

}
#answer-B{
  background-color: rgb(15, 250, 15);

}
#answer-C{
  background-color: rgb(0, 179, 255);

}
#answer-D{
  background-color: rgb(183, 0, 255);
}
.answer-checkbox{
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  padding: 10px;
}
.answer-checkbox:checked{
    background-color: rgb(0, 0, 0);
}
.editable-div{
  flex-grow: 2;
  flex-flow: column;
  max-width: 100%;
  height: 80%;
  margin: 10% 0;
  overflow: auto;
  text-overflow: ellipsis;
  border: 1px black solid;
}
.template-name{
  width: 100%;
  /* margin-left: 10px; */
  padding-left: 10px;
  font-size: 1.5rem;
  cursor: pointer;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.list-container{
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  border-bottom: 1px solid black;
}
.player-list{
  display: flex;
  justify-content: center;
  column-gap: 1rem;
  max-width: 36rem;
  row-gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 6rem;
}
.player-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.player{
  background: #7c73e6;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
}
.shown-question{
  margin: 20px 0;
  font-size: 3.6rem;
}
.timer{
  position: fixed;
  margin-top: 4rem;
  height:8rem;
  width: 8rem;
  border-radius: 50%;
  background: #7c73e6;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.player-stats-list{
  margin: 10% 0;
  max-height: 80%;
  min-height: 60%;
  width: 60%;
  overflow-y: auto;
  overflow-x: hidden;
}
.player-stats{
  width: 80%;
  height: 10%;
  background: #ffe9e3;
  border-radius: 30px;
  margin: 3px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
.winners-image{
  height: 80%;
  aspect-ratio: 1;
}
.img-name-container{
  display: flex;
  align-items: center;
  column-gap: 2rem;
}
.go-back-button{
  background: #c4c1e0;
}
.error{
  color: red;
  font-size: 1.5rem;
}
.grid-container{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  margin: 12% 12% 4% 12%;
  width: 90%;
  height: 90%;
  cursor: pointer;
}
.answer-result-container{
  background: #7c73e6;
  padding: 20px;
  text-align: center;
}
.circle-image{
  border-radius: 50%;

}