body{

}
h1{
  font-size: 3em;
}
button{
  font-size: 1em;
  border: none;
  border-radius: 20px;
  background: #ffe9e3;
  cursor: pointer;
  padding: 5px;
  margin: 10px;
}
button:hover{
  background: #7c73e6;
}
.wrapper{
  background: hsl(246, 33%, 82%);
  font-size: 2em;
  height: 100vh;
  width: 100vw;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
}
.landing-page{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.paragraph{
  text-align: center;
  background: #fafafa;
  padding: 10px;
  border-radius: 20px;
}

.my-button{
  background: #ffe9e3;
  border: none;
  border-radius: 20px;
  padding: 0.4em 1em;
  font-size: inherit;
  margin: 10px;
  cursor: pointer;
}
/* .my-button:hover{ */
  /* background: #7c73e6;
} */
.my-input{
  font-size: inherit;
  border-radius: 10px;
  text-align: center;
}
.flex-section{
  display: flex;
}
.half-article{
  margin: 10%;
}
.question-template{
  /* position: relative; */
  margin:0 12rem;
  padding: 2rem;
  /* width: 70%; */
  /* display: flex; */
}
.question-bar{
  /* position: fixed; */
  left: 0;
  padding-left: 0.2em;
}
.slide{
  padding: 10px 10px 10px 0;
  cursor: pointer;
}
.slide-image{
  margin-left: 10%;
  width: 70%;
}
.small-image{
  width: 15%;
  cursor: pointer;
}
.question-input{
  width: 100%;
  font-size: 1.5em;
}
.right-bar{
  /* position: fixed; */
  right: 0;
}
.bar{
  height: 100%;
  width: 12rem;
  background: #fafafa;
  overflow-y: auto;
  overflow-x: hidden;
}
.question-image{
  width: 60%;
  margin: 3% 20% 1% 20%;
}
.answers-placeholder{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  height: 30%;
}
.answer{
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
#answer-A{
  background-color: red;

}
#answer-B{
  background-color: rgb(15, 250, 15);

}
#answer-C{
  background-color: rgb(0, 179, 255);

}
#answer-D{
  background-color: rgb(183, 0, 255);
}
.answer-checkbox{
  height: 3em;
  width: 3em;
  border-radius: 50%;
}
.answer-checkbox:checked{
    background-color: rgb(0, 0, 0);
}